a{
  text-decoration: none;
}
:root {
  --bgMain: #24353f;
  --color: #17a2b8;
}

.bg-Main {
  background-color: var(--bgMain);
}
.text-color {
  color: var(--color);
}
.login input::placeholder {
  color: gray;
}
.login input {
  border: 1px solid #eae3e3;
  outline: none;
  color: #eae3e3;
}
.login button {
  background-color: inherit;
  outline: none;
  color: var(--color);
  border-radius: 5px;
  border: 1px solid var(--color);
  transition: 0.3s;
}
.green {
  color: greenyellow;
}
.login a {
  text-decoration: none;
  color: #eae3e3;
  transition: 0.3s;
}
.login a:hover {
  color: var(--color);
}
.login button:hover {
  background-color: var(--color);
  color: #eae3e3;
}
.login input:focus {
  border: 1px solid var(--color);
}
main {
  background-color: #24353f;
}

.loginSystem {
  box-shadow: 10px 10px 50px #0c1114;
  background-color: #24353f;
}
